<h1>Task Tracker</h1>

<%= link_to 'Add New Task', new_task_path, class: 'btn btn-primary' %>
<%= link_to 'Back to Home', root_path %>

<h2>Pending Tasks</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pending_tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
        <td>
          <%= link_to 'Edit', edit_task_path(task) %> |
          <%= link_to 'Mark as Completed', mark_completed_task_path(task), method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Completed Tasks</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    <% @completed_tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Upcoming Tasks</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    <% @upcoming_tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
